# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
/output
bmk_sdk.emSession
bmk_master_Debug.jlink
bmk_master_Release.jlink
bmk_slave_Debug.jlink
bmk_slave_Release.jlink
